<h2>Sign up</h2>

<form>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field form-group">
    <%= f.label :'Email Address*' %><br />
    <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "Enter email", autocomplete: "email" %>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>

  <div class="field form-group">
    <%= f.label :'Password*' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field form-group">
    <%= f.label :'password_confirmation*' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div> <br>

  <div class="field form-group">
    <%= f.label :'username*' %><br />
    <%= f.text_field :username, size: '50x2'%>
  </div>

  <div class="field form-group">
    <%= f.label :'Avatar' %><br />
    <%= f.file_field :avatar %>
  </div>

  <div class="field form-group">
    <%= f.label :purpose %><br />
    <%= f.text_area :purpose, size: '50x2'%>
  </div>

  <div class="field form-group">
    <%= f.label :'About Me' %><br />
    <%= f.text_area :about_me, size: '50x6'%>
  </div>

  <div>
    <%= check_box_tag(:mentor), class: "form-check" %>
    <%= label_tag(:mentor, "I want to mentor") %>
  </div>

  <p>
    * Required fields
  </p>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</form>

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>