<div style="height: 100vh;">

<%= image_tag("annie-spratt-1113344-unsplash.jpg", class: "bg", alt: "") %>

<div class="container mt-5 mb-5 align-middle">
<div class="row justify-content-center">
<div class="col-md-6">
<div class="card pl-5 pr-5 pt-5 pb-5">

<div class="container">

<h1 class="pink">New Booking</h1>
<hr>

<%= form_for @booking do |f| %>

  <%= f.hidden_field(:mentor_id, value: params[:mentor_id]) %>
  <%= f.hidden_field(:price, value: 0) %>
  <div class="field form-group">
      <%# <%= f.label :'Booking date and time' %>
      <%= f.datetime_select :start_time, class: "form-control", autofocus: true %>
  </div> <br>

  <div class="actions">
      <%= f.submit "Book Session", class: "btn btn-primary" %>
  </div>

<% end %>

</div>
</div>
</div>
</div>
</div>
</div>
