<div class="container mt-4">
  
    <!-- Page Content -->

<%= image_tag("bonnie-kittle-186235-unsplash.jpg", class: "bg", alt: "") %>

<div class="container mt-5 mb-5">
<div class="row justify-content-center">
<div class="col-md-6">
<div class="card-">
<div class="card pl-5 pr-5 pt-5 pb-5">

<div class="container">
  <h1 class="pink">My Dashboard</h1>
  <hr>
  <p><%= notice %></p>
  <!-- This checks if the user has an image attached to their profile using Active Storage. If they do have an image attached, it will display that image. If not, it will display the default image kept in ass/assets/images. -->
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, class: "card-img-top", alt: "" %>
  <% else %>
    <%= image_tag("default-user-profile.jpg", class: "card-img-top", alt: "") %>
  <% end %>

  <!-- This page should have the users information, edit and destroy button for their user profile and their mentor profile if they have one, list of bookings they are involved with and edit info for those bookings depending on their permissions -->

  <h2 class="space3">About You</h2>

  <h6>Username:</h6><p><%= @user.username %></p>
  <h6>Email:</h6><p><%= @user.email %></p>
  <h6>About Me:</h6><p><%= @user.about_me %></p>
  <h6>Purpose:</h6><p><%= @user.purpose %></p>

  <%= link_to 'Edit', edit_user_registration_path, class: "btn btn-primary" %>

  <!-- Devise link to edit these details, destroy link to remove them as a user -->
<hr>

  <% unless @my_mentor_profile.nil? %>
    <h2 class="space1">Your Mentor Details</h2>
    <h6>Skills:</h6><p><%= @my_mentor_profile.skills %></p>
    <h6>Availability:</h6><p><%= @my_mentor_profile.availability %></p>
    <h6>Price:</h6><p><%= number_to_currency(@my_mentor_profile.price / 100.0) %></p>
    <%= link_to 'Edit', edit_mentor_path(id: @my_mentor_profile.id), class: "btn btn-primary" %>
  <!-- destroy mentor profile button -->
  <hr>
    <h6>You are booked to mentor the following sessions: </h6>
    <% @mentor_bookings.each do |booking| %>
  <!-- Edit and destroy buttons for bookings? -->
      <p><%= booking.mentee_id%></p>
    <% end %>
    <!-- Stripe Connect SignUp Link - if a mentor wishes to charge they need to sign up for a Standard Stripe Account.
    First part of the if shows the signup link if they haven't signed up. -->
    <% if @my_mentor_profile.stripe_user_id == nil %>
      <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=<%= ENV['CLIENT_ID']%>&scope=read_write" class="stripe-connect light-blue"><span>Connect with Stripe</span></a>
    <% else %>
      <p>You have connected your Stripe Account and can receive payments.</p>
      <p>Stripe User Id: <%= @my_mentor_profile.stripe_user_id %></p>
    <% end %>
  <% end %>

  <% if @mentee_bookings.length > 0 %>
    <p>You are booked to be mentored in the following sessions: </p>
    <% @mentee_bookings.each do |booking| %>
    <!-- Edit and destroy buttons for bookings? -->
      <p><%= booking.mentor_id%></p>
    <% end %>
  <% end %>

  <h3>Reviews given</h3>

  <% if @user.reviews.length > 0 %>
    <% @user.reviews.each do |review| %>
      <p><%= review.created_at.strftime("%d/%m/%Y") %> <%= review.content %> to <%= review.mentor.user.username %></p>
    <% end %>
    <% else %>
    <p>You haven't given a review, please give a review</p>
  <% end %>

</div>
</div>
</div>
</div>
</div>
</div>
</div>