<%= form_with(model: mentor, local: true) do |form| %>
  <% if mentor.errors.any? %>
    <div id="error_explanation">
      <h2 class="text-danger"><%= pluralize(mentor.errors.count, "error") %> prohibited this mentor from being saved:</h2>

      <ul>
      <% mentor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field form-group">
    <%= form.label :skills %><br />
    <%= form.text_field :skills, class: "form-control", autofocus: true %>
  </div>

  <div class="field form-group">
    <%= form.label :availability %><br />
    <%= form.text_area :availability, class: "form-control", autofocus: true %>
  </div>
  
  <div class="field form-group">
    <%= form.label :price %><br />
    <%= form.text_field :price, value: number_with_precision((mentor.price||0)/100.0, :precision => 2), class: "form-control", autofocus: true %>
  </div>
  <p>If you choose to charge for your services, you will need to create and maintain your own Stripe account, which you will then need to connect to the MyMentor Stripe account in order to be booked for paid sessions. Any fees charged by Stripe will be payable by you. If you choose to mentor for free, no Stripe account is necessary.</p>
  <div class="actions">
    <%= form.submit 'Submit', class: "btn btn-primary" %>
  </div>
<% end %>
