
<!-- Page Content -->
<div class="container mt-4">
  
    <!-- Page Content -->

<%= image_tag("rawpixel-323215-unsplash.jpg", class: "bg", alt: "") %>

    <div class="container mt-5 mb-5">

      <div class="row justify-content-center">

    <div class="col-md-6">


      <div class="card-">
      <% user = @mentor.user %>

          <div class="card pl-5 pr-5 pt-5 pb-5">
          <% user = @mentor.user %>

          <div class="text-center"></div>
          <!-- This checks if the user has an image attached to their profile using Active Storage. If they do have an image attached, it will display that image. If not, it will display the default image kept in ass/assets/images. -->
            <div class="container">
            <% if user.avatar.attached? %>
              <%= image_tag user.avatar, class: "card-img-customize img-fluid", alt: "" %>
            <% else %>
              <%= image_tag("default-user-profile.jpg", class: "card-img-customize img-fluid", alt: "") %>
            <% end %>
            </div>
        <div class="card-body">
          <h1 class="card-title pink"><%= user.username %></h1>
          <h4><%= number_to_currency(@mentor.price / 100.0) %></h4><small>per session</small>
          <div class="mt-3"></div>
          <h6>Purpose:</h6><p class="card-text"><%= user.purpose %></p>
          <h6>About Me:</h6><p class="card-text"><%= user.about_me %></p>
          <h6>Skills:</h6><p class="card-text"><%= @mentor.skills %></p>
          <h6>Availability:</h6><p class="card-text"><%= @mentor.availability %></p>
          <%# <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span> %>
          <%# 4.0 stars %>
          
          <!-- Book now button related to Stripe -->
          <div class="mt-3">
          <% if @mentor.stripe_user_id %>
            <%= form_tag charges_path do %>
            <article>
              <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>

              <% end %>
            </article>

            <%= hidden_field_tag(:mentor_id, @mentor.id) %>
            <div class="field form-group">
              <%= f.label :'Booking date and time:' %><br />
              <%= f.datetime_select :start_time, class: "form-control", autofocus: true %>
            </div> <br>

            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="Booking with: <%= @mentor.user.username %>"
                    data-amount="<%= @mentor.price %>"
                    data-currency="aud"
                    data-label="Book Now"
                    data-locale="auto"></script>
            <% end %>
          <% else %>
            <%= link_to 'New Free Booking', new_booking_path({mentor_id: @mentor.user_id}) %>
            
          <% end %>

          <h3>Reviews</h3>

          <% if @mentor.reviews.length > 0 %>
            <% @mentor.reviews.each do |review| %>
              <p><%= review.created_at.strftime("%d/%m/%Y") %> <%= review.content %> by <%= review.user.username %></p>
            <% end %>
            <% else %>
            <p>This mentor has not received a review</p>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- /.col-lg-9 -->
  </div>
</div>
<!-- /.container -->